.addresses
  .table
    %table.data
      %thead
        %tr
          %th= t('shop.customers.type')
          %th= t('shop.customers.default')
          %th= t('shop.custoemrs.address')
          %th
      %tbody
        - if @addresses.empty?
          %tr.empty
            %td{colspan: 4}= t('shop.customers.no_addresses')
        - else
          - for address in @addresses
            %tr
              %td= address.address_type.capitalize
              %td= boolean_tag address.default
              %td= address.full_address
              %td= link_to t('shop.customers.edit'), edit_customer_address_path(@customer, address)
