- @page_title = t('shop.orders.new_order')

= content_for :header do
  %p.buttons= link_to t('shop.orders.back_to_orders'), :orders, :class => 'button grey'
  %h2.orders= t('shop.orders.new_order')

= form_for @order, :html => {:class => 'orderForm newOrder'} do |f|
  = render 'shared/error_messages', object: f.object
  = render 'form', :f => f
  = field_set_tag t('shop.orders.ordered_products'), :class => 'padded' do
    = render 'order_items_form', :f => f
  %p.submit
    = f.submit t('shop.orders.create_order'), :class => 'button green'
    = link_to t('shop.cancel'), :orders, :class => 'button grey'
