
= form_tag [:refund, @order, @payment], :class => 'refundForm' do
  %h2= t('shop.refund.issue_refund')
  %p.intro
    = t('shop.refund.intro_html', amount: number_to_currency(@payment.refundable_amount))

  .moneyInput
    .currency= t('shop.settings.defaults.currency_unit').html_safe
    = text_field_tag 'amount', @payment.refundable_amount, :class => 'text'
  %p.submit
    = submit_tag t('shop.refund.refund'), :class => 'button green'
    = link_to t('shop.close'), '#', :class => 'button grey', :rel => 'closeDialog'

